<!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <script src="../../js/pl-vendor-libraries.js?{{cacheBuster}}"></script>
  <script src="../../js/pl-source.js?{{cacheBuster}}"></script>

  </body>
</html>
